/* Add a background color to the header element */
header{
    background-color: powderblue;
    color: white;
}
/* Add a fun background color to the main element */
main{
    text-align: center;
    background-color: floralwhite;
}
/* Align the h1 containing your name in the center of the header*/
h1{
    text-align: center;
}

/* Make your p tag a different color and italic */
p{
    color: white;
    font-style: italic;
}

/* Put a border around your image */
img {
    border-style: dotted;
}

footer{
    text-align: center;
    background-color: powderblue;
    color: white;
}

/* Change the font-family of your list */

/* Add a background color to the footer element */